@charset "UTF-8";

body {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	margin: 10px 0 0 350px;
	float: left;
	clear: both;
}

th {
	border-bottom: solid black 1px;
}

.last-row {
	border-bottom: solid black 1px;
}

.input-product {
	margin: 18px 0 0 300px;
	width: 120px;
	float:left;
	display: inline-block;
	float: left;
	clear: left;
}

.button-product {
	margin: 18px 0 20px 18px;
	width: 175px;
	float:left;
	display: inline-block;
}

.products-table {
	width: 550px;	
	margin-left: 200px;
}

.similarity-table {
	width: 600px;	
	margin: 0px 0 0 200px;
	border-top: none;
	border-bottom: none;
	padding: 15px;
	float: left;
	clear: both;
}

.column-id {
	text-align: right;
}

.column-id-similarity {
	width: 50px;
	text-align: right;
	padding-right: 10px;
}

.column-name {
	width: 200px;
	padding-left: 15px;
}

.column-similarity {
	width: 50px;
	text-align: right;
	padding-right: 15px;
}

.modal-content {
	margin: 5px 5px 5px 75px;
}

.column {
	width: 10px !important;
	padding: 0 !important;
}

.hidden-element {
	display: none !important;
}

.subtitle-modal {
	text-decoration: underline;
	clear: both;
	float: left;
	padding: 2px;
}

.text-modal {
	clear: both;
	float: left;
	padding: 2px;
}

#contentTwo .subtitle-modal {
	margin-top: 25px;
}

#contentTwo .text-modal {
	margin-bottom: 25px;
}
#error {
	font-weight: bold;
	font-size: 20px;
	color: #8B0000;
	text-align: center;
}

.error-div {
	background: #FF6347;
	width: 80%;
	height: 65px;
	margin: 15px 0 0 100px; 
	float: left;
}
